.containerListadoTareas{
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100% !important;
    height: 65% !important;
}

.tareaTransition-enter {
    opacity: 0;
}
.tareaTransition-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.tareaTransition-exit {
    opacity: 1;
}
.tareaTransition-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}
